<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omnilegent</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header"></div>
    <h1>Welcome to Omnilegent!</h1>
    <p>Please choose one of the options below:</p>
    <div>
        <a href="/register">
            <button>Register</button>
        </a>
    </div>
    <div>
        <a href="/login">
            <button>Login</button>
        </a>
    </div>
</body>
</html>
