<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/dashboard">My Books</a>
            </li>
            <li>
                |
            </li>
            <li>
                <a href="/add-book">Add a Book</a>
            </li>
            <li>
                |
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="header">
        <img src="/images/Omnilegent-2.png" alt="Omnilegent logo" class="header-image">
    </div>
    <div class="form-container">
        
    </div>
</body>
</html>